@page
@model LoginModel

<style>
	body{
		min-height: 100vh;
		width: 100%;
		background: #009579;
	}
	.container{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		max-width: 430px;
		width: 100%;
		background: #fff;
		border-radius: 7px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.3);
	}
	.container .registration{
		display: none;
	}
	#check:checked ~ .registration{
		display: block;
	}
	#check:checked ~ .login{
		display: none;
	}
	#check{
		display: none;
	}
	.container .form{
		padding: 2rem;
	}
	.form header{
		font-size: 2rem;
		font-weight: 500;
		text-align: center;
		margin-bottom: 1.5rem;
	}
	.form input{
		height: 60px;
		width: 100%;
		padding: 0 15px;
		font-size: 17px;
		margin-top: 20px;
		border: 1px solid #ddd;
		border-radius: 6px;
		outline: none;
	}
	.form input:focus{
		box-shadow: 0 1px 0 rgba(0,0,0,0.2);
	}
	.form a{
		font-size: 16px;
		color: #009579;
		text-decoration: none;
	}
	.form a:hover{
		text-decoration: underline;
	}
	.form input.button{
		color: #fff;
		background: #009579;
		font-size: 1.2rem;
		font-weight: 500;
		letter-spacing: 1px;
		margin-top: 1.7rem;
		cursor: pointer;
		transition: 0.4s;
	}
	.form input.button:hover{
		background: #006653;
	}
	.signup{
		font-size: 17px;
		text-align: center;
	}
	.signup label{
		color: #009579;
		cursor: pointer;
	}
	.signup label:hover{
		text-decoration: underline;
	}
</style>
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<body>
<div class="container">
	<input type="checkbox" id="check">
	<div class="login form">
		<header>Login</header>
		<form id="account" method="post">
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Input.Email" class="form-label"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
				<label asp-for="Input.Password" class="form-label"></label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div>
				<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="margin-top: 20px; margin-bottom: 20px;">Log in</button>
			</div>
			<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
				<div>
					<p>
						@foreach (var provider in Model.ExternalLogins!)
						{
							<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
						}
					</p>
				</div>
			</form>
		</form>
		<div class="signup">
			<span class="signup">Don't have an account?
				<label for="check"><div>
					<p>
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
					</p>
				</div></label>
			</span>
		</div>
	</div>
</div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
