@model CarPortal.Web.ViewModels.FilterCar.FilterCarViewModel
@{
	var isGetRequest = string.Equals(Context.Request.Method, "GET", StringComparison.OrdinalIgnoreCase);
	var isPostRequest = string.Equals(Context.Request.Method, "POST", StringComparison.OrdinalIgnoreCase);
}
<style>

	.filter-card {
		background: #00587A;
		border-radius: 30px;
		box-shadow: 15px 15px 30px rgb(25, 25, 25),
		            -15px -15px 30px rgb(60, 60, 60);
		height: auto;
		width: auto;
	}

	/*Card*/

	.card {
		--main-color: #323232;
		--sub-color: #00587A;
		--bg-color: #E7E7DE;
		--accent-color: #00587A;
		background-color: var(--bg-color);
		border-radius: 25px;
		box-shadow: 0px 0px 5px -1.5px #000;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		gap: 5px;
		margin-bottom: 30px;
		margin-left: 30px;
		margin-top: 30px;
		padding: 25px;
		position: relative;
		transition: all 0.2s;
		width: 400px;
	}

	.card::before {
		background: var(--sub-color);
		border-radius: 25px;
		content: '';
		height: 99%;
		left: 1px;
		position: absolute;
		top: 1px;
		transition: all 0.3s;
		width: 99%;
		z-index: -1;
	}

	.card__wrapper {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.card__img { width: 100%; }

	.card__title {
		color: var(--main-color);
		font-size: 25px;
		font-weight: 900;
	}

	.card__subtitle {
		color: var(--sub-color);
		font-size: 20px;
		font-weight: 600;
	}

	.card__icon {
		height: 40px;
		transform: rotate(-45deg);
		transition: all 0.3s;
		width: 40px;
	}

	.card__icon svg {
		height: 100%;
		width: 100%;
	}

	.card__icon g { fill: var(--main-color); }

	.card__icon circle, polyline, line { stroke: var(--main-color); }

	.card:hover .card__icon { transform: rotate(0); }

	.card:hover .card__icon circle, .card:hover .card__icon polyline, .card:hover .card__icon line { stroke: var(--accent-color); }

	.card:hover .card__icon g { fill: var(--accent-color); }

	.card:hover { box-shadow: 0px 0px 20px -5px #000; }

	.card:hover::before {
		box-shadow: 0px 0px 20px -5px #000;
		transform: rotate(10deg);
	}

	.text-decoration { text-decoration: none; }

	button {
		background: transparent;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-family: inherit;
		font-size: inherit;
		outline: none;
		padding: 0;
		position: relative;
		text-decoration: none;
		vertical-align: middle;
	}

	/*Back-button*/

	.btn-class-name {
		--primary: 80,    180,    250;
		--secondary: 255,    255,    255;
		background: #00587A;
		border: none;
		border-radius: .6em;
		color: white;
		cursor: pointer;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: bold;
		height: 45px;
		letter-spacing: 0.05em;
		outline: none;
		transition: .3s;
		width: 100px;
	}

	.btn-class-name:hover {
		box-shadow: 0 0 0 5 #E7E7DE;
		filter: brightness(1.2);
	}

	.btn-class-name:active {
		box-shadow: 0 0 0 5px #ffffff;
		transition: 0s;
	}

	/*search-button*/

	.btn-class-name-search {
		--primary: 80,    180,    250;
		--secondary: 255,    255,    255;
		background: #E7E7DE;
		border: none;
		border-radius: .6em;
		color: #00587A;
		cursor: pointer;
		font-family: sans-serif;
		font-size: 16px;
		font-weight: bold;
		height: 45px;
		letter-spacing: 0.05em;
		outline: none;
		transition: .3s;
		width: 100px;
	}

	.btn-class-name-search:hover {
		box-shadow: 0 0 0 5 #E7E7DE;
		filter: brightness(1.2);
	}

	.btn-class-name-search :active {
		box-shadow: 0 0 0 5px #ffffff;
		transition: 0s;
	}
</style>

<body style="background-color: #008891">
@if (isGetRequest)
{
	<div class="filter-card">
		<form style="margin: 50px;" asp-action="Index" method="post">
			<div class="row">
				<div class="form-group col-md-6">
					<div style="padding-top: 8px; padding-right: 7px;">
						<label asp-for="Car.Model.Category" style="color: #E7E7DE"></label>
						<select asp-for="Car.Model.CategoryId" class="form-control" asp-items="@(new SelectList(ViewBag.Categories, "Id", "Name"))">
							<option value="0">all</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label asp-for="Car.Model.Make" style="color: #E7E7DE"></label>
					<select asp-for="Car.Model.MakeId" class="form-control">
						<option value="0">all</option>
					</select>
				</div>
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label asp-for="Car.Model" style="color: #E7E7DE"></label>
					<select asp-for="Car.ModelId" class="form-control">
						<option value="0">all</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label asp-for="Price" style="color: #E7E7DE">Maximum Price</label>
					<input asp-for="Price" type="text" class="form-control">
				</div>
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label asp-for="Car.ManufactureYear" style="color: #E7E7DE">Minimum Year</label>
					<input asp-for="Car.ManufactureYear" type="text" class="form-control">
				</div>
			</div>
			<div class="row">
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label style="color: #E7E7DE">EngineType</label>
					<select asp-for="Car.EngineTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.EngineTypes, "Id", "Type"))">
						<option value="0">all</option>
					</select>
				</div>
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label style="color: #E7E7DE">Color</label>
					<select asp-for="Car.ColorId" class="form-control" asp-items="@(new SelectList(ViewBag.Colors, "Id", "Name"))">
						<option value="0">all</option>
					</select>
				</div>
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label style="color: #E7E7DE">Condition</label>
					<select asp-for="Car.ConditionId" class="form-control" asp-items="@(new SelectList(ViewBag.Conditions, "Id", "Name"))">
						<option value="0">all</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label style="color: #E7E7DE">Region</label>
					<select asp-for="RegionId" class="form-control" asp-items="@(new SelectList(ViewBag.Regions, "Id", "Name"))">
						<option value="0">all</option>
					</select>
				</div>
				<div style="padding-top: 8px; padding-right: 7px;" class="col">
					<label style="color: #E7E7DE">Order by</label>
					<select class="form-control" name="orderer">
						<option value="CreatedOnDescending">Upload Date: Newest First</option>
						<option value="CreatedOnAscending">Upload Date: Oldest First</option>
						<option value="PriceAscending">Price: Low to High</option>
						<option value="PriceDescending">Price: High to Low</option>
					</select>
				</div>
			</div>
			<button style="margin: 20px;" class="btn-class-name-search" type="submit">Search</button>
		</form>
	</div>
}
@if (isPostRequest)
{
	<form asp-action="Index" method="get">
		<button type="submit" class="btn-class-name">
			&lt; Back
		</button>
	</form>
}
<div class="row">
	@foreach (var item in ViewBag.CarsToShow)
	{
		<div class="card">
			<a asp-controller="Offer" asp-action="Details" asp-route-offerId="@item.Id" class="text-decoration">
				<div class="card__img">
					<img src="@item.Images.PhotoPath" class="card-img-top" height="225px"/>
				</div>
				<div class="card__title">@item.Title</div>
				<div class="card__wrapper">
					<div class="card__subtitle">@item.Price lv.</div>
					<div class="card__icon">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" style="user-select: none; width: 100%; height: 100%; display: inline-block; fill: rgb(224, 223, 220); flex-shrink: 0; cursor: auto;" color="rgb(224, 223, 220)">
							<g color="rgb(224, 223, 220)">
								<circle cx="128" cy="128" r="96" opacity="0.2"></circle><circle cx="128" cy="128" r="96" fill="none" stroke="rgb(224, 223, 220)" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="134.1 161.9 168 128 134.1 94.1" fill="none" stroke="rgb(224, 223, 220)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline><line x1="88" y1="128" x2="168" y2="128" fill="none" stroke="rgb(224, 223, 220)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
							</g>
						</svg>
					</div>

				</div>
			</a>
		</div>
	}
</div>
</body>

@section scripts{
	<script>
		$(document).ready(function () {
			$("select[name='Car\\.Model\\.CategoryId']").change(function () {
				var selectedMakeId = $(this).val();

				$.ajax({
					url: "/Offer/GetMakesList",
					type: "GET",
					data: { id: selectedMakeId },
					success: function (data) {
						var modelDropdown = $("select[name='Car\\.Model\\.MakeId']");
						modelDropdown.empty();

						$.each(data, function (index, model) {
							modelDropdown.append($('<option></option>').val(model.id).text(model.name));
						});
					},
					error: function (xhr, status, error) {
						console.log(error);
					}
				});
			});
			$("select[name='Car\\.Model\\.MakeId']").change(function () {
				var selectedMakeId = $(this).val();
				var selectedCategoryId = $("select[name='Car\\.Model\\.CategoryId']").val();

				$.ajax({
					url: "/Offer/GetModelsList",
					type: "GET",
					data: { id: selectedMakeId, categoryId: selectedCategoryId },
					success: function (data) {
						var modelDropdown = $("select[name='Car\\.ModelId']");
						modelDropdown.empty();

						$.each(data, function (index, model) {
							modelDropdown.append($('<option></option>').val(model.id).text(model.name));
						});
					},
					error: function (xhr, status, error) {
						console.log(error);
					}
				});
			});
		});
		
	</script>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script>
$(document).ready(function() {
  $(".con-like").on("click", function() {
    const checkbox = $(this).find("input.like");
    if (!checkbox.prop("checked")) {
      checkbox.prop("checked", true);
    }
  });
});
</script>
	<partial name="_ValidationScriptsPartial"/>
}